modules/oe_translation_epoetry/modules/oe_translation_epoetry_mock/fixtures/request.wsdl

<definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://eu.europa.ec.dgt.epoetry"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://eu.europa.ec.dgt.epoetry" name="DGTServiceWS">
    <wsp:UsingPolicy wssutil:Required="true"/>
    <wsp1_2:Policy wssutil:Id="Mtom.xml">
        <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    </wsp1_2:Policy>
    <wsp:Policy wssutil:Id="DGTServiceWSPortBinding_MTOM_Policy-DGTServiceWSPortBinding_MTOM_Policy">
        <ns2:OptimizedMimeSerialization xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
    </wsp:Policy>
    <types>
        <xsd:schema>
            <xsd:import namespace="http://eu.europa.ec.dgt.epoetry"/>
        </xsd:schema>
    </types>
    <message name="resubmitRequest">
        <part name="parameters" element="tns:resubmitRequest"/>
    </message>
    <message name="resubmitRequestResponse">
        <part name="parameters" element="tns:resubmitRequestResponse"/>
    </message>
    <message name="updateCallbackUrl">
        <part name="parameters" element="tns:updateCallbackUrl"/>
    </message>
    <message name="updateCallbackUrlResponse">
        <part name="parameters" element="tns:updateCallbackUrlResponse"/>
    </message>
    <message name="modifyLinguisticRequest">
        <part name="parameters" element="tns:modifyLinguisticRequest"/>
    </message>
    <message name="modifyLinguisticRequestResponse">
        <part name="parameters" element="tns:modifyLinguisticRequestResponse"/>
    </message>
    <message name="addNewPartToDossier">
        <part name="parameters" element="tns:addNewPartToDossier"/>
    </message>
    <message name="addNewPartToDossierResponse">
        <part name="parameters" element="tns:addNewPartToDossierResponse"/>
    </message>
    <message name="createNewVersion">
        <part name="parameters" element="tns:createNewVersion"/>
    </message>
    <message name="createNewVersionResponse">
        <part name="parameters" element="tns:createNewVersionResponse"/>
    </message>
    <message name="getLinguisticRequest">
        <part name="parameters" element="tns:getLinguisticRequest"/>
    </message>
    <message name="getLinguisticRequestResponse">
        <part name="parameters" element="tns:getLinguisticRequestResponse"/>
    </message>
    <message name="createLinguisticRequest">
        <part name="parameters" element="tns:createLinguisticRequest"/>
    </message>
    <message name="createLinguisticRequestResponse">
        <part name="parameters" element="tns:createLinguisticRequestResponse"/>
    </message>
    <message name="UnsupportedEncodingException">
        <part name="fault" element="tns:UnsupportedEncodingException"/>
    </message>
    <message name="NoSuchMethodException">
        <part name="fault" element="tns:NoSuchMethodException"/>
    </message>
    <message name="createCorrectionRequest">
        <part name="parameters" element="tns:createCorrectionRequest"/>
    </message>
    <message name="createCorrectionRequestResponse">
        <part name="parameters" element="tns:createCorrectionRequestResponse"/>
    </message>
    <portType name="DGTServiceWS">
        <operation name="resubmitRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/resubmitRequestRequest"
                   message="tns:resubmitRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/resubmitRequestResponse"
                    message="tns:resubmitRequestResponse"/>
        </operation>
        <operation name="updateCallbackUrl">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/updateCallbackUrlRequest"
                   message="tns:updateCallbackUrl"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/updateCallbackUrlResponse"
                    message="tns:updateCallbackUrlResponse"/>
        </operation>
        <operation name="modifyLinguisticRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyLinguisticRequestRequest"
                   message="tns:modifyLinguisticRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/modifyLinguisticRequestResponse"
                    message="tns:modifyLinguisticRequestResponse"/>
        </operation>
        <operation name="addNewPartToDossier">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/addNewPartToDossierRequest"
                   message="tns:addNewPartToDossier"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/addNewPartToDossierResponse"
                    message="tns:addNewPartToDossierResponse"/>
        </operation>
        <operation name="createNewVersion">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createNewVersionRequest"
                   message="tns:createNewVersion"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createNewVersionResponse"
                    message="tns:createNewVersionResponse"/>
        </operation>
        <operation name="getLinguisticRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequestRequest"
                   message="tns:getLinguisticRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/getLinguisticRequestResponse"
                    message="tns:getLinguisticRequestResponse"/>
        </operation>
        <operation name="createLinguisticRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createLinguisticRequestRequest"
                   message="tns:createLinguisticRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createLinguisticRequestResponse"
                    message="tns:createLinguisticRequestResponse"/>
            <fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"
                   wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createLinguisticRequest/Fault/UnsupportedEncodingException"/>
            <fault message="tns:NoSuchMethodException" name="NoSuchMethodException"
                   wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createLinguisticRequest/Fault/NoSuchMethodException"/>
        </operation>
        <operation name="createCorrectionRequest">
            <input wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createCorrectionRequestRequest"
                   message="tns:createCorrectionRequest"/>
            <output wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createCorrectionRequestResponse"
                    message="tns:createCorrectionRequestResponse"/>
            <fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException"
                   wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createCorrectionRequest/Fault/UnsupportedEncodingException"/>
            <fault message="tns:NoSuchMethodException" name="NoSuchMethodException"
                   wsam:Action="http://eu.europa.ec.dgt.epoetry/DGTServiceWS/createCorrectionRequest/Fault/NoSuchMethodException"/>
        </operation>
    </portType>
    <binding name="DGTServiceWSPortBinding" type="tns:DGTServiceWS">
        <wsp:PolicyReference URI="#DGTServiceWSPortBinding_MTOM_Policy-DGTServiceWSPortBinding_MTOM_Policy"/>
        <wsp:PolicyReference URI="#Mtom.xml"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="resubmitRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateCallbackUrl">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="modifyLinguisticRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addNewPartToDossier">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createNewVersion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLinguisticRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createLinguisticRequest">
            <soap:operation soapAction="http://localhost:8080/build/epoetry-mock/server/#createLinguisticRequest"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnsupportedEncodingException">
                <soap:fault name="UnsupportedEncodingException" use="literal"/>
            </fault>
            <fault name="NoSuchMethodException">
                <soap:fault name="NoSuchMethodException" use="literal"/>
            </fault>
        </operation>
        <operation name="createCorrectionRequest">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="UnsupportedEncodingException">
                <soap:fault name="UnsupportedEncodingException" use="literal"/>
            </fault>
            <fault name="NoSuchMethodException">
                <soap:fault name="NoSuchMethodException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="DGTServiceWSService">
        <port name="DGTServiceWSPort" binding="tns:DGTServiceWSPortBinding">
            <soap:address location="http://localhost:8080/build/epoetry-mock/server"/>
        </port>
    </service>
</definitions>
